/* 全体のリセット */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* レイアウト */
body {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* ヘッダー */
header {
    background: #4D5D82;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
}

/* ナビゲーション */
nav ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* メインコンテンツとサイドバーのコンテナ */
.container {
    display: flex;
    /* Scriptでmargin-topにheaderの高さを指定 */
    padding: 30px 30px;
    background: #3d3d3d;
}

/* メインコンテンツ */
main {
    background: #2c2c2c;
    border-radius: 15px;
    color: #f3f3f3;
    overflow: hidden;
    min-width: 700px
}

/* サイドバー */
aside {
    background: #ddd;
    padding: 20px;
    margin-left: 20px;
    border-radius: 15px;
    width: 30%;
    min-width: 200px;
    height: 80vh;
    float: right;
    position: sticky;
    top: 20px;
    overflow-y: auto;
}

/* フッター */
footer {
    color: #3d3d3d;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}

.title {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    border-radius: 15px 15px 0 0;
}

/* 見出し */
.headline1 {
    margin: 0;
    padding: 30px;
    /* 上下左右のバランスを調整 */
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #8ec5fc, #a1acff, #e0c3fc);
    color: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline2 {
    display: inline-block;
    width: 90%;
    padding: 25px 20px;
    border-radius: 200px;
    color: #2c2c2c;
    background: linear-gradient(to right, #fff75e 0%, #ffd53e 50%, #fdb833 100%);
    text-align: center;
}


.fontSize1 {
    font-size: 80px;
    font-weight: bold;
}

.fontSize2 {
    font-size: xxx-large;
    font-weight: bold;
}

.fontSize3 {
    font-size: xx-large;
    font-weight: bold;
}

.fontSize4 {
    font-size: x-large;
    font-weight: bold;
}

/* 画像中央配置 白枠 */
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px auto
    /* background: #818181; */
    /* padding: 10px 0; */
}

.imgBorder {
    border-color: #818181;
    border-width: 1px;
    border-style: solid;
    max-width: 90%;
}

/* リスト */
.myList {
    padding-left: 0;
    display: inline-block;
    line-height: 30px;
}

.myListContent {
    text-align: left;
    margin: 10px 0;
}